<%- include('../partials/header') %>
<%- include('../partials/sidebar') %>
<main>
	<div class="container-fluid">
		<h1 class="mt-4">Add Product</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item active">
				<div class="ml-auto"><a href="/">Home</a> > Add Product</div>
			</li>
		</ol>
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-barcode mr-1"></i>
				Add Product detail
			</div>
			<div class="card-body">
				<form action="/products/update" method="POST">
					<div class="row">
						<input type="hidden" name="id" value="<%= product._id %>">
						<div class="form-group col-md-6">
							<label for="name">Product Name:</label>
							<input type="text" class="form-control" id="name" name="name" value="<%= product.name %>" aria-describedby="name" placeholder="Enter Product Name" required>
						</div>
						<div class="form-group col-md-6">
							<label for="barcode">Barcode:</label>
							<input type="text" class="form-control" id="barcode" name="barcode" value="<%= product.barcode %> " aria-describedby="barcode" placeholder="Leave blank to auto-generate." disabled>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label for="barcodeType">Barcode Type:</label>
							<select class="form-control" name="barcodeType" required disabled>
								<option value="code128">Code 128</option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label for="productCategory">Select Category:</label>
							<%- dropdown(categories,'categoryId','Select Category','required', product.categoryId) %>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label for="unitOfMeasure">Unit of Measure:</label>
							<select class="form-control" name="unitOfMeasure" required>
								<option value="">Select Option</option>
								<option value="pcs" <%= product.unitOfMeasure == 'pcs' ? 'selected' : '' %> >Pcs</option>
								<option value="kg" <%= product.unitOfMeasure == 'kg' ? 'selected' : '' %>>KG</option>
								<option value="ltr" <%= product.unitOfMeasure == 'ltr' ? 'selected' : '' %>>Ltr</option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label for="alertQuantity">Alert Quantity:</label>
							<input type="number" class="form-control" id="alertQuantity" name="alertQuantity" value="<%= product.alertQuantity %>" aria-describedby="alertQuantity" placeholder="Alert Quantity." required>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<div class="custom-file ">
								<input type="file" class="custom-file-input" id="customFile">
								<label class="custom-file-label" for="customFile">Select Image</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12 text-right">
							<button type="submit" name="update" class="btn btn-outline-success"> &nbsp;&nbsp;&nbsp; Update &nbsp;&nbsp;&nbsp;  </button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>

<%- include('../partials/footer') %>