<html>
<head>
    <style>
    body {
        font-family: sans-serif;
        font-size: 10pt;
    }

    p {
        margin: 0pt;
    }

    table.items {
        border: 0.1mm solid #e7e7e7;
    }

    td {
        vertical-align: top;
    }

    .items td {
        border-left: 0.1mm solid #e7e7e7;
        border-right: 0.1mm solid #e7e7e7;
    }

    table thead td {
        text-align: center;
        border: 0.1mm solid #e7e7e7;
    }

    .items td.blanktotal {
        background-color: #EEEEEE;
        border: 0.1mm solid #e7e7e7;
        background-color: #FFFFFF;
        border: 0mm none #e7e7e7;
        border-top: 0.1mm solid #e7e7e7;
        border-right: 0.1mm solid #e7e7e7;
    }

    .items td.totals {
        text-align: right;
        border: 0.1mm solid #e7e7e7;
    }

    .items td.cost {
        text-align: "."center;
    }
    </style>
</head>

<body>
	<% 
		var date = new Date;
		%> 
    <table width="100%" style="font-family: sans-serif;" cellpadding="10">
        <tr>
            <td width="100%" style="padding: 0px; text-align: center;">
              <a href="techoid.co" target="_blank"><img src="/images/company/techoid.png" width="264" height="" alt="Logo" align="center" border="0"></a>
            </td>
        </tr>
        <tr>
            <td width="100%" style="text-align: center; font-size: 20px; font-weight: bold; padding: 0px;">
                <br>
              Inventory Details
            </td>
        </tr>
        <tr>
          <td height="10" style="font-size: 0px; line-height: 10px; height: 10px; padding: 0px;">&nbsp;</td>
        </tr>
    </table>
    <table width="100%" style="font-family: sans-serif;" cellpadding="10">
        <tr>
            <td width="49%" style="border: 0.1mm solid #eee;">
                <table>
                    <tr>
                        <td><b>Date: </b></td>
                        <td>
                          <%= date.toDateString(); %> 
                        </td>
                    </tr>
                    <tr>
                        <td><b>Product Name:</b></td>
                        <td><%= product.name %> </td>
                    </tr>
                    <tr>
                        <td><b>Barcode : </b></td>
                        <td><%= product.barcode %> </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </td>
            <td width="2%">&nbsp;</td>
            <td width="49%" style="border: 0.1mm solid #eee; text-align: right;">
                <strong> </strong>
                <br> <br><br>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <table class="items" width="100%" style="font-size: 14px; border-collapse: collapse;" cellpadding="8">
        <thead>
            <tr>
                <td width="15%" style="text-align: left;"><strong>#</strong></td>
                <td width="40%" style="text-align: left;"><strong>Location</strong></td>
                <td width="15%" style="text-align: left;"><strong>Quantity</strong></td>
            </tr>
        </thead>
        <tbody>
            <!-- ITEMS HERE -->
            <tr>
                <td style="padding: 0px 7px; line-height: 20px;">
                    <br>
                </td>
                <td style="padding: 0px 7px; line-height: 20px;">
                    <br>
                </td>
                <td style="padding: 0px 7px; line-height: 20px;">
                    <br>
                </td>
            </tr>
            <% var totalCount = 0 %> 
            <% var serialNumber = 1 %> 
            <% for(let inventory of inventories) { %>
            <tr>
                <td style="padding: 0px 7px; line-height: 20px;"><%= serialNumber %> </td>
                <td style="padding: 0px 7px; line-height: 20px;"> <%= inventory.locationId.name %>  </td>
                <td style="padding: 0px 7px; line-height: 20px;"> <%= inventory.stock %>  </td>
            </tr>
             
            <% serialNumber++ %> 
            <% } %> 
            
        </tbody>
    </table>
    <br>
   
    <br>
    <table width="100%" style="font-family: sans-serif; font-size: 14px;" >
        <br>
        <tr>
            <td>
                <table width="25%" align="left" style="font-family: sans-serif; font-size: 14px;" >
                    <tr>
                        <td style="padding: 0px; line-height: 20px;">
                            <!-- <img src="img/protected.png" alt="protected" style="display: block; margin: auto;"> -->
                        </td>
                    </tr>
                </table>
                <table width="50%" align="left" style="font-family: sans-serif; font-size: 13px; text-align: center;" >
                    <tr>
                        <td style="padding: 0px; line-height: 20px;">
                            <strong>Techoid.co - The Tech Origin</strong>
                            <br>
                            Office No. 303, Batool Arcade 13 B, Gulshan-e-Iqbal, Pakistan
                            <br>
                            Tel: +92 213 4972116 | Email: info@techoid.co
                            <!-- <br>
                            Company Registered in Country Name. Company Reg. 12121212.
                            <br>
                            VAT Registration No. 021021021 | ATOL No. 1234 -->
                        </td>
                    </tr>
                </table>
                <table width="25%" align="right" style="font-family: sans-serif; font-size: 14px;" >
                    <tr>
                        <td style="padding: 0px; line-height: 20px;">
                            <!-- <img src="img/abtot.png" alt="abtot" style="display: block; margin: auto;"> -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <br>
    </table>
    <script type="text/javascript">
        window.onload = function() { window.print(); }
   </script>
</body>
</html>